nav.navbar, .navbar-default{
    background-color:#181818 !important; 
}
.navbar-default{
    background-image: none;
    border:none;
    border-radius: 0;
}
.navbar-default .navbar-nav>li >a{
    color:#fff;
    padding-right: 30px;
    padding-left:70px;
}

.navbar-default .navbar-toggle{
    border-color:#fff;
}
.navbar-toggler{
    margin-top: 15px;
    height:30px;
    
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#000;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#fff;
    background-color:transparent;
}